<div class="jumbotron banner">

<div class="container hero">
        <div>
            <h1 class="font-monospace fw-bold text-light">
                Korp Général Business
            </h1>

            <p class="font-monospac fw-lighter fs-4  text-white-50">
                Renseigner, Infiltrer, Excécuter
            </p>
        </div>
    </div>
</div>